[Unit]
Description=@Automounting and executing externaly attached media

[Service]
Type=oneshot
GuessMainPID=no
ExecStart=/usr/bin/media-automount %I
